## mako
<%page expression_filter="h"/>
<%!
  from datetime import datetime
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>


<!-- NEW IN INDIGO update footer -->
% if uses_bootstrap:
<div class="wrapper wrapper-footer">
  <footer>
    <!-- Top Footer -->
    <div class="footer-top">
      <div class="container-top">
        <div class="row">
          <div class="col-md-6 text-white">
            <h2 class="text-white">Learn and Grow</h2>
            <p>
              Our edX learning experience is grounded in cutting-edge cognitive
              science. With more than two dozen distinct learning features to
              help you achieve your goals, our approach follows three key
              principles
            </p>

            <strong>Experience</strong>
            <p>
              Learn new knowledge and skills in a variety of ways, from engaging
              video lectures and dynamic graphics to data visualizations and
              interactive elements.
            </p>

            <strong>Practice</strong>
            <p>
              Demonstrating your knowledge is a critical part of learning. edX
              courses and programs provide a space to practice with quizzes,
              open response assessments, virtual environments, and more.
            </p>

            <strong>Apply</strong>
            <p>
              Learning on edX transforms how you think and what you can do, and
              translates directly into the real world—immediately apply your new
              capabilities in the context of your job.
            </p>
          </div>
          <div
            class="col-md-6 d-flex flex-row justify-content-center align-items-center"
          >
            <img
              src="${static.url('images/flower-white.png')}"
              alt="Logo"
              style="max-width: 400px"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom Footer -->
    <div class="footer-bottom">
      <div class="container-bot">
        <div class="row text-center text-white text-md-left">
          <!-- Logo and Social Media -->
          <div
            class="col-md-3 mb-4 mb-md-0 d-flex flex-column justify-content-center align-items-center"
          >
            <img
              src="${static.url('images/logo-white.png')}"
              alt="Logo"
              style="max-width: 200px"
            />

            <ul
              class="list-unstyled list-inline social-icons mt-3 d-flex flex-row justify-content-center align-items-center"
            >
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </ul>

            <p class="mt-3">&copy; 2024 CBC. All rights reserved.</p>
          </div>

          <!-- Browse Courses -->
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <h5 class="w3-text-white w3-margin-bottom w3-bold">
              Browse Courses
            </h5>
            <ul class="w3-ul">
              <li><a href="#">Programming</a></li>
              <li><a href="#">Learn Economics</a></li>
              <li><a href="#">Learn Project</a></li>
              <li><a href="#">Learn Business</a></li>
              <li><a href="#">Learn Software</a></li>
              <li><a href="#">Learn Computer</a></li>
            </ul>
          </div>

          <!-- About Us -->
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white mb-4 font-weight-bold">
              About Us
            </h5>
            <ul class="list-unstyled">
              <li><a href="#">Company Profile</a></li>
              <li><a href="#">Vision, Mission & Core Value</a></li>
              <li><a href="#">Shareholders</a></li>
              <li><a href="#">Board of Directors</a></li>
              <li><a href="#">Management Team</a></li>
            </ul>
          </div>

          <!-- Media -->
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white mb-4 font-weight-bold">
              Media
            </h5>
            <ul class="list-unstyled">
              <li><a href="#">Programming</a></li>
              <li><a href="#">CSR Activities</a></li>
              <li><a href="#">Videos and Photos</a></li>
            </ul>
          </div>

          <!-- Our Members -->
          <div class="col-6 col-md-2 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white mb-4 font-weight-bold">
              Our Members
            </h5>
            <ul class="list-unstyled">
              <li><a href="#">Benefits</a></li>
              <li><a href="#">How to become a member</a></li>
              <li><a href="#">Member Directory</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

% else:
<!-- NEW IN INDIGO update footer -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-black.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
  />
</head>

<footer>
  <!-- Top Footer -->
  <div
    class="footer-top flex-row d-flex justify-content-center align-items-center"
  >
    <div class="w3-row w3-content-top">
      <!-- Left Side -->
      <div class="w3-half left-side w3-container text-white w3-animate-left">
        <div class="w3-left-align w3-padding-64">
          <h2 class="text-white">Learn and Grow</h2>
          <p>
            Our edX learning experience is grounded in cutting-edge cognitive
            science. With more than two dozen distinct learning features to help
            you achieve your goals, our approach follows three key principles.
          </p>

          <strong>Experience</strong>
          <p>
            Learn new knowledge and skills in a variety of ways, from engaging
            video lectures and dynamic graphics to data visualizations and
            interactive elements.
          </p>

          <strong>Practice</strong>
          <p>
            Demonstrating your knowledge is a critical part of learning. edX
            courses and programs provide a space to practice with quizzes, open
            response assessments, virtual environments, and more.
          </p>

          <strong>Apply</strong>
          <p>
            Learning on edX transforms how you think and what you can do, and
            translates directly into the real world—immediately apply your new
            capabilities in the context of your job.
          </p>
        </div>
      </div>

      <!-- Right Side -->
      <div class="w3-half right-side w3-container w3-padding-64 w3-animate-right">
        <img
          class="logo"
          src="${static.url('images/flower-white.png')}"
          alt="Logo"
        />
      </div>
    </div>
  </div>

      
    <!-- Bottom Footer -->
  <div class="footer-bottom text-white py-4">
    <div class="w3-container w3-center">
      <div class="w3-row-padding">
      
      
        <!-- Logo and Social Media -->
        <div class="w3-col s12 m12 l3 w3-center">
          <img
            src="${static.url('images/logo-white.png')}"
            alt="Logo"
            style="max-width: 200px"
          />
          <div class="social-icons w3-margin-top w3-animate-fading">
           	<a class="w3-button w3-circle w3-border w3-border-green w3-large w3-hover-green w3-card-4"><i class="fa fa-facebook"></i></a>
            <a class="w3-button w3-circle w3-border w3-border-green w3-large w3-hover-green w3-card-4"><i class=" fa fa-youtube"></i></a>
            <a class="w3-button w3-circle w3-border w3-border-green w3-large w3-hover-green w3-card-4"><i class=" fa fa-linkedin"></i></a>
            <a class="w3-button w3-circle w3-border w3-border-green w3-large w3-hover-green w3-card-4"><i class=" fa fa-instagram"></i></a>
          </div>

          <p class="w3-margin">&copy; 2024 CBC. All rights reserved.</p>
        
        </div>



        <!-- Browse Courses -->
        <div class="w3-col s6 m3 l2 w3-left-align">
          <h5 class="w3-text-white w3-margin-bottom w3-bold ">Browse Courses</h5>
          <ul >
            <li><a href="#">Programming</a></li>
            <li><a href="#">Learn Economics</a></li>
            <li><a href="#">Learn Project</a></li>
            <li><a href="#">Learn Business</a></li>
            <li><a href="#">Learn Software</a></li>
            <li><a href="#">Learn Computer</a></li>
          </ul>
        </div>

        <!-- About Us -->
        <div class="w3-col s6 m3 l2 w3-left-align">
          <h5 class="w3-text-white w3-margin-bottom w3-bold ">About Us</h5>
          <ul>
            <li><a href="#">Company Profile</a></li>
            <li><a href="#">Vision, Mission & Core Value</a></li>
            <li><a href="#">Shareholders</a></li>
            <li><a href="#">Board of Directors</a></li>
            <li><a href="#">Management Team</a></li>
          </ul>
        </div>

        <!-- Media -->
        <div class="w3-col s6 m3 l2  w3-left-align">
          <h5 class="w3-text-white w3-margin-bottom w3-bold ">Media</h5>
          <ul >
            <li><a href="#">Programming</a></li>
            <li><a href="#">CSR Activities</a></li>
            <li><a href="#">Videos and Photos</a></li>
          </ul>
        </div>

        <!-- Our Members -->
        <div class="w3-col s6 m3 l2 w3-left-align ">
          
                <h5 class="w3-text-white w3-margin-bottom w3-bold">Our Members</h5>
                <ul >
                    <li><a href="#">Benefits</a></li>
                    <li><a href="#">How to become a member</a></li>
                    <li><a href="#">Member Directory</a></li>
                </ul>
          
        </div>
        
      </div>
    </div>
  </div>
</footer>

%endif

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}">
  % endfor
% endif
