<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>




<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>


<style>

.Imag-Banner1 {
  background-position: center;
  background-size: cover;
  background-image: url("${static.url('images/banner2.jpg')}");
  min-height: 25%;
  height: 500px;

}
.Img-Banner2 {
  background-position: center;
  background-size: cover;
  background-image: url("${static.url('images/banner3.jpg')}");
  min-height: 25%;
  height: 500px;

}
banner2

</style>

<!--Banner-->
<header class="w3-display-container">

  <div class=" Imag-Banner1 w3-display-container" >

    <div class="  w3-display-middle " style="max-width:1600px; width:100%;height:100%;">

        <div class=" w3-container w3-display-left   ">

          <h1 class=" title1 w3-left-align" style="color:darkgreen;font-size: 50px ; max-width: 700px !important;">
            <b >     Welcome to CBC Academy Online Courses
              ## % if homepage_overlay_html:
              ##   ${homepage_overlay_html | n, decode.utf8}
              ## % else:
              ##   <%include file="index_overlay.html" />
              ## % endif
            </b>
          </h1>
          <p class=" w3-text-gray">Build up your skills. Explore courses here</p>

          <div class="discover-search w3-padding-64 ">
            <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
           
            
              % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <!-- UPDATE IN INDIGO2.1 - Change the structure for search bar  -->
                  <div class="search-field-wrapper">
                    <label class="input-holder w3-row">
                      <div class="w3-col s8 m9 l10">
                        <span class="sr">${_("Search for a course")}</span>
                        <input class="search-input" name="search_query" type="text" placeholder="${_('Search for a course')}"/>
                      </div>
                      <div class="w3-col s4 m3 l2">
                        <button class=" w3-button button-search w3-hover-green" type="submit">
                          SEARCH
                          <i class="fa fa-search "></i>
                        </button>
                      </div>

                    </label>
                  </div>
                </form>
              </div>
              % endif


            </div>

          </div>

        </div>

    </div>

  </div>

  <%include file="index_promo_video.html" />
</header>

<!--Org-->
<section class="w3-container w3-center w3-card-4 w3-padding w3-margin-bottom w3-border" style="background-color: white !important;">
  <div class="w3-container" style="overflow-x: auto; white-space: nowrap; max-width: 1600px; margin: auto;">
    <div style="display: flex;">
   
     ##%for org in course:
     
 

      <a href="#" class="org-icon-filter w3-circle w3-margin-right w3-margin-top w3-margin-bottom" style="display: inline-block; transition: transform 0.3s;">
       
        <img src="${static.url('images/flower-green.png')}" class="w3-circle w3-card-4" style="width: 100px; height: 100px;">
      </a>
     ## %endfor
    </div>
  </div>
</section>

<section class="home style-logout">
     
  <%include file="${courses_list}" />

</section>

<!--Banner2-->
<header class="w3-display-container">

  <div class="Img-Banner2  w3-display-container" >

    <div class="  w3-display-middle " style="max-width:1600px; width:100%;height:100%;">

        <div class=" w3-container w3-display-left   ">

          <h1 class=" title1 w3-left-align" style="color:darkgreen;font-size: 30px ; max-width: 700px !important;">
            <b >   Transform your organization with comprehensive up skilling and re skilling solutions.
            </b>
          </h1>
          <!-- <p class=" w3-text-gray">Build up your skills. Explore courses here</p> -->

          <div class="discover-search w3-padding-64 ">
            <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
           
            
              % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <!-- UPDATE IN INDIGO2.1 - Change the structure for search bar  -->
                  <div class="search-field-wrapper">
               
                   
                      <div class="w3-col s4 m3 l2">
                        <button class=" w3-button button-search w3-hover-green" type="submit" style="width: 200px;">
                          Register for free
                        
                        </button>
                      </div>

                    </label>
                  </div>
                </form>
              </div>
              % endif


            </div>

          </div>

        </div>

    </div>

  </div>

  <%include file="index_promo_video.html" />
</header>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home style-logout">
     
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
