// // styles.scss

// body, p, h1, h2, h3, * {
//     font-family: $font-kantumruy-pro !important;
// }

// .special-text {
//     font-family: $font-kantumruy-pro !important;
// }

// .khmer-text {
//     font-family: $font-kantumruy-pro !important;
// }

// /////////////////////////////////
// .w3-content-top {
//     max-width: 1600px;
//     margin: 40 auto;
// }

// .footer-top {
//     background: linear-gradient(135deg, #12492a, #2baf65);

//     .left-side,
//     .right-side {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 100%;
//     }

//     .right-side {
//         .logo {
//             max-width: 50%;
//         }
//     }
// }
// // .container-top ,.container-bot{
// //   margin: 0 auto;
// //   padding: 0 15px;
// //   max-width: 1600px;
// //   box-sizing: border-box;
// //   font-family: $font-family-title;
// // }

// .footer-bottom {
//     background-color: #374236;
//     color: #ffffff;
//     padding: 20px 0;
// }
// .w3-cell {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
// .footer-bottom a {
//     color: #ffffff;
//     text-decoration: none;
//     a:not(.btn), a:visited:not(.btn){
//         color: white !important;
//     }
// }

// .footer-bottom ul {
//     list-style-type: none;
//     text-decoration: none;
//     margin: 0%;
//     padding: 0%;

//     :hover {
//         color: #58ee99;
//     }
// }
// h5 &ul {
//     padding-left: 30px;
// }

// .icon-footer {
// //     height: 50px !important;
// //     width: 50px !important;
// //    // padding: auto !important;
// //     display: inline-flex !important;
// //     justify-items: center !important;
// //     align-items: center !important;

//     height: 50px !important;
//     width: 50px !important;
//     justify-items: center !important;
//     display: inline-flex !important
// ;

//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

// .icon-footer i,
// .icon-footer svg {
//     font-size: 24px !important;
//     height: 30px !important;
//     width: 30px !important;
//     // display: flex !important;
//    // align-items: center !important;
//     //text-align: center !important;
//    // padding: auto !important;
// }

// .language-select {
//     margin-bottom: 20px;
//     display: flex;
//     //padding: 10px;
//     // justify-content: left;
//     // align-items: center;
//     position: relative; /* Make the container relative */
// }

// select {
//     padding: 10px;
//     font-size: 16px;
//     // width: 100%;
//     max-width: 300px;
//     position: relative; /* Ensure the select button stays in its place */
//     z-index: 1; /* Make sure it's above other content */
// }

footer {
    background-color: #f3d287;
    background-image: url('../images/footer-bg.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important; 
    height: auto !important;

    .wrapper-footer {
        box-shadow: none !important;
        max-width: 1600px;
        margin: 0 auto;
        padding: 10px 10px 10px 10px !important;
        background-color: transparent !important;
       // background-color: #EFA834 !important;
    
        color: #ffffff !important;
        min-height: 170px !important;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .col {
 
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
    }
}
@media (min-width: 601px) {
    footer .wrapper-footer {
        flex-wrap: nowrap;
        text-align: left;
        padding: 20px 40px !important;
        height: auto !important;
    }
    footer .col {
        width: auto;
    }
}
#footer-language-select {
    width: 60%;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #cccccc;
    padding: 10px !important;

    // Safari fix for select padding
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.select-lang-button {
    width: 75px !important;
    background-color: #21472e !important;
    background-image: none !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px;
    padding:10px !important;
    //margin-left: 10px;
}

.icon.fa-globe {
    display: none !important;
    margin-right: 5px;
}

html, body {
    line-height: 1.5 !important;
}
/////////////////// Footer
// .wrapper-footer {
//     box-shadow: none;
//     padding: 25px 40px;
  
//     .wrapper-logo {
//       display: none;
//     }
//     .copyright {
//       display: none;
//     }
//     .nav-legal ul {
//       display: inline-block;
//     }
//     footer#footer-openedx .footer-about-openedx {
//       a {
//         float: none;
//       }
//       p {
//         text-align: right;
//       }
//     }
//   }