

/////////////////////////////////
.w3-content-top{
    max-width: 1600px;
    margin: 40 auto;

}

.footer-top {
    background: linear-gradient(135deg, #12492A, #2BAF65);

    .left-side,.right-side{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
    }

    .right-side{

        .logo{
       
            max-width: 50%;
           
         }
    }


    
}
// .container-top ,.container-bot{
//   margin: 0 auto;
//   padding: 0 15px;
//   max-width: 1600px;
//   box-sizing: border-box;
//   font-family: $font-family-title;
// }

.footer-bottom {
    background-color: #374236;
    color: #ffffff;
    padding: 20px 0;

}
.w3-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
}
.footer-bottom ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0%;
    padding:0%;
    
    :hover{
        color: #58ee99;
    }
}
h5 &ul{
    padding-left: 30px;
}

