// Include custom cirtificate

body.certificate {
    // .accomplishment-type{
    //    // background-color: green !important;
    //    // background-image: url("");
    // }
    .signatory-signature{
       // background-color: green !important;
        display: block !important;
    }
    .wrapper-header {
        padding: 0;
    }
    .accomplishment-metadata {
        .recipient-img {
            display: block !important;
        }
        .recipient-name, .recipient-username {
            margin: 0;
        }
    }
    .layout-accomplishment {
        .wrapper-introduction {
            padding: 0;
        }
       
    }
    .wrapper-about {
        padding: 20px 0 0 !important;
    }
    .layout-accomplishment{
        background-color: green !important;
    }
    .accomplishment-rendering {
        display: block;
        background-image: url("../images/certificate_frame.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        width: 210mm;
        height: 297mm;
        max-width: 100%;
        box-sizing: border-box;

        @media (max-width: 210mm) {
            width: 100%;
            height: auto;
            background-size: contain;
        }

        @media print {
            width: 210mm;
            height: 297mm;
            background-size: 100% 100%;
            page-break-inside: avoid;
        }
    }

    .header-app, .banner-user, .introduction, .wrapper-accomplishment-metadata, .wrapper-accomplishment-rendering, .introduction, aside.about {
        display: block;
    
        max-width: 1600px !important;
        margin: 0 auto;
       // padding: 0 15px !important;
        box-sizing: border-box;
        .header-app-title {
            text-align: left;
            a {
                display: inline-block;
                vertical-align: top;
                width: 45px;
               // margin: 10px 0;
            }
        }
    }
}

