<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import gettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>
<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
</%block>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>


<main id="main" aria-label="Content" tabindex="-1" style="background-color:#F6F6F6 !important;" >

<!--Banner-->
<header class="w3-display-container">

  <div class="bgimg  w3-display-container" >

    <div class="  w3-display-middle " style="max-width:1600px; width:100%;height:100%;">

  
      
        <div class=" w3-container w3-display-left   ">

          <h1 class=" title1 w3-left-align" style="color:darkgreen;font-size: 50px ; max-width: 700px !important;">
            <b >${_("Welcome to CBC Academy Online Courses")}</b>
          </h1>
          <p class=" w3-text-gray">${_("Build up your skills. Explore courses here")}</p>
       
       
          <div class="discover-search w3-padding-64 ">
            <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
              <form class="wrapper-search-input">
                <label for="discovery-input" class="sr">${_('Search for a course')}</label>
        
                <div class="input-holder w3-row ">
                  <div class="w3-col s8 m9 l10">
                    <input
                      id="discovery-input"
                      class="discovery-input w3-padding w3-input"
                      placeholder="${_('What do you want to learn?')}"
                      type="text"
                    />
                    
                  </div>
                  <div class="w3-col s4 m3 l2">
                    <button
                      type="submit"
                      class="btn-search w3-button w3-block postfix discovery-submit w3-padding w3-hover-green"
                      title="${_('Search')}"
                    >

                    ${_("SEARCH")}
                      <i class="fa fa-search" icon fa fa-clock-o></i>
                     
                    </button>
                  </div>
                </div>

              </form>
              <!-- <span id="filter-bar" class="filters hide-phone is-collapsed"></span> -->
              <!-- <div id="discovery-message" class="search-status-label w3-tag w3-padding  green-header-text"></div> -->
            </div>
             <!-- <div id="filter-bar" class="filters hide-phone is-collapsed w3-border w3-border-green w3-margin-top w3-padding">> -->
            <!-- </div> -->
          </div>

        </div>

      

    </div>


  </div>
 


</header>

<!-- <aside  class="search-facets phone-menu">

  <section class="search-facets-lists w3-green">
  </section>
</aside> -->

<!--Org-->
<section class="w3-container w3-center w3-card-4 w3-padding w3-margin-bottom w3-border" style="background-color: white !important;">
  <div class="w3-container" style="overflow-x: auto; white-space: nowrap; max-width: 1600px; margin: auto;">
    <div style="display: flex;">
   

      %for org in organizations:
        %if org and org.logo and org.logo.url:
            <div href="#" class="org-icon-filter w3-circle w3-margin-right w3-margin-top w3-margin-bottom" style="display: inline-block; transition: transform 0.3s;"> 
                <img src="${settings.CMS_ROOT_URL}${org.logo.url}" class="w3-circle w3-card-4" style="width: 100px; height: 100px;">
              </div>
            <!-- <a href="${org.short_name}" class="org-icon-filter w3-circle w3-margin-right w3-margin-top w3-margin-bottom" style="display: inline-block; transition: transform 0.3s;">
              <img src="${settings.CMS_ROOT_URL}${org.logo.url}" class="w3-circle w3-card-4" style="width: 100px; height: 100px;">
            </a> -->
            
        %endif
      %endfor
  
    </div>
  </div>
</section>

<!--body-->


  <section class="find-courses w3-container" style="background: none;" >
    <section class="courses-container " >

      <div class="w3-padding w3-left-align">
        <i class="fas fa-book fa-3x " style="color:#374236;"></i>
        <span class="top-courses w3-text-black w3-margin-left" style="font-size: 30px; color:#374236;"><b>${_('Explore top courses')}</b></span>
   
      </div>

       <!--  search bar and filters. -->
      <div class="discover-search w3-container">
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
       
          <div id="discovery-message" class="search-status-label"></div>
        </div>
        <div id="filter-bar" class="filters hide-phone is-collapsed">>
        </div>
      </div>
    
      <!-- NEW IN INDIGO Modified search bar and filters. -->
      % if course_discovery_enabled:
        <div class="saerch-bar-discover w3-hide-large w-100">
          <div class="dropdown filter-block w-100">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              <span>Filters
                <i class="fa fa-arrow-down-wide-short w3-right"></i>
              </span>
            </a>
            <div class="dropdown-menu search-facets-lists" aria-labelledby="dropdownMenuLink">
                <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
                  <h1 class="header-search-facets">${_('Refine Your Search')}</h1>
                  <section class="search-facets-lists">
                  </section>
                </aside>
            </div>
          </div>
        

   
       
      </div>
    % endif

    <!--Course Cards-->

      <div class="course-list-container w3-border-black w3-row w3-padding h-100">

               <!-- NEW IN INDIGO: Added search bar. -->
         % if course_discovery_enabled:
        <div class="w3-col l3 w3-hide-medium  w3-hide-small filter w3-center w3-white h-100" style="margin-right: 3%;">
      
          <h3 class=" w3-padding-top-24">
            ${_("Filter Course")}
            <i class="fa fa-arrow-down-wide-short w3-margin-right"></i>
          </h3>

          <aside class="search-facets phone-menu w-100 ">
            <section class="search-facets-lists w3-padding-small w3-border-white">
            </section>
          </aside>
        </div>
        % endif
        <div class="courses-card w3-rest">
          <div class="courses-list-title w3-container">
            <!-- <img class=" w3-green" src="${static.url('images/head-icon.png')}" alt="logo" style="width: 40px; " /> -->
            <i class=" fa fa-note-sticky  " style="color: green;"  ></i>
            <span>
              ${_("Continuing Education")}
            </span>
          </div>
     
       

          <div class=" course-holder courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
            <ul class="courses-listing courses-list">
              %for course in courses:
            
              <li class="courses-listing-item w3-card-4">
                <%include file="../course.html" args="course=course" />
              
              </li>
              %endfor
            </ul>
          </div>
          
          <!-- Course Cards -->
        </div>

    </div>

    </section>
  </section>

</main>
