<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from django.conf import settings
from common.djangoapps.edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        // redirect unauthenticated user to the login page
        location.replace("${reverse('signin_user') | n, js_escaped_string}?next=" + encodeURIComponent("${request.path | n, js_escaped_string}"));
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>



<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>


<style>
  html, body,h1,h2,h3,h4,h5 {font-family: "Inter", sans-serif !important}
  body, html {
    height: 100%;
    background-color: rgb(238, 239, 240);
  }


.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("${static.url('images/banner3.jpg')}");
  min-height: 25%;
  height: 500px;

}
.w3-button,.timer-info{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


@media (max-width: 768px) 
{
  
  .media,.bgimg,
  img{
    max-height: 300px;
 
  }

  .title{
    font-size: 20px !important;
  
  }
  .detail_time{

 


      height: 180px !important;
    
    img{
     
      width: 20px !important;
      height: 20px !important;
     
    }
    span, .text{
   
     padding:10px;
      font-size: 12px !important;
      font-style: normal !important;
      text-align: left !important;
    }
  }

  .about_course{
    h1,i{
     
      font-size: 20px !important;
    }
    .w3-col{
      img{
     
        width: 50px;
        height: 50px;
      }
    }


    }
}


</style>

<!--Banner-->
<header class="w3-display-container w3-row w3-border w3-black">

        <!--Left side-->
        <div class="w3-col s12 m12 l7 bgimg  w3-display-container" >

          <div class="w3-cell w3-display-middle" style="height :70%; width:60%">
              <p class="title w3-left-align" style="font-size: 40px; color:darkgreen;"><b>${course.display_name_with_default} </b></p>
              <p class="title w3-left-align " style="font-size: 30px; color:darkgreen;"><b>${course.display_org_with_default}</b></p>
              <p class=" m10 w3-text-gray w3-hide-small">
                ${get_course_about_section(request, course,'short_description')}
                <!-- Learn the concepts and techniques that make up the foundation of data science and machine learning. -->
              </p>
                

              <!--Buttons Enroll-->
              %if user.is_authenticated and registered:
                <p class="register disabled w3-margin-top w3-cell w3-padding-16" style=" color:rgb(255, 0, 0)">${_("Already Enrolled")}</p>
              %endif
           
              <div class="w3-display-bottomright w3-center" >

                  %if user.is_authenticated and registered:

                    %if show_courseware_link:
                      
                      <a href="${course_target}">
                    %endif
                   

                    %if show_courseware_link:
                      <p class="w3-button w3-padding-large w3-hover-green" style="background-color: #00522C; color:white"><b>${_("View Course")}</b></p>
                     
                    %endif
                      </a>
                 
                  % elif is_course_full:
                    <span class="register disabledf">
                      ${_("Course is full")}
                    </span>
                  % elif invitation_only and not can_enroll:
                    <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
                 
                  ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
                  ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
                  ## so that they can register and become a real user that can enroll.

                  % elif not is_shib_course and not can_enroll:
                  <span class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"><i class="fa fa-lock" aria-hidden="true"></i> ${_("Enrollment is Closed")}</span>
                  %elif allow_anonymous:
                    %if show_courseware_link:
                    
                  
                      <a href="${course_target}">
                      <p class="w3-button w3-padding-large" style="background-color: #00522C; color:white"><b>${_("View Course")}</b></p>
                      </a>
                    %endif
                  %else:
                    <%
                      if ecommerce_checkout:
                        reg_href = ecommerce_checkout_link
                      else:
                        reg_href="#"
                      if single_paid_mode:
                        href_class = "add-to-cart"
                      else:
                        href_class = "register"
                    %>
                    
                      <a href="${reg_href}" class="w3-button w3-padding-large w3-hover-green  ${href_class}" style="background-color: #00522C; color:white; text-decoration:none">
                        <b>
                        ${_("Enroll Now")}
                        </b>
                      </a>
                      <div id="register_error"></div>

                  %endif

              </div>
              <!--End-->


          </div>

        </div>

        <!--Right side-->

        <div class="w3-col w3-small-hide m12 l5 w3-display-container " style="max-height :500px" >

          <!-- <div class="w3-display-middle w3-yellow w3-center" style="width:100%;height :500px" > -->

        
  
            % if get_course_about_section(request, course, "video"):
          
          
            
          

              <a href="#video-modal" class="media " rel="leanModal"> 
                
                  <img class="w3-opacity w3-hover-opacity-off" src="${course_image_urls['large']}" alt="video_course" style="height:500px;width:100%;"/> 
                  <p class=" w3-button w3-display-middle w3-border w3-border w3-padding-large w3-hover-black w3-animate-opacity" >
                    <i class="fa fa-play-circle fa-3x w3-circle w3-text-white "> </i> 
                  </p>
              </a>

         
            %else:
           
                <!-- NEW IN INDIGO: Add fallback image in case of no course-image using onerror -->
                <img src="${course_image_urls['large']}" class="media " onerror="this.src='/theming/asset/images/no_course_image.png';" alt="img" style="height:500px;width:100%;"/>
           
            % endif

          <!-- </div> -->

     

        </div>


</header>

<!--panel Info-->

<section class=" w3-row timer-info w3-display-container " style="background-color: #00522C; height:160px;">
  
  <div class="w3-col l2 w3-white w3-display-container w3-padding" style="height: 100%;">
    % if organization:
        % if organization.logo and organization.logo.url:
        <img 
          src="${settings.CMS_ROOT_URL}${organization.logo.url}" 
          class="w3-padding w3-display-middle" 
          alt="logo" 
          style="max-width: 250px; height: 100% !important;" 
        />
        % else:
        <img 
          src="${static.url('images/flower-green.png')}"
          class="w3-padding w3-display-middle" 
          alt="default logo" 
          style="max-width: 250px; height: 100% !important;"
        />
        % endif
  
      % else:
      <img 

        src="${static.url('images/flower-green.png')}"
        class="w3-padding w3-display-middle" 
        alt="default logo" 
        style="max-width: 250px; height: 100% !important;" 
      />
    % endif
  </div>


  
  <div class="w3-col detail_time m12 l8  " style=" height:100%;">
    
    <div class="w3-cell-row h-100 w3-text-white" style="background-color: #00522C;">
     
      <!--Start Course-->
      <div class="text w3-container w3-cell w3-cell-middle w3-mobile  w3-center ">
        % if not course.start_date_is_still_default:
        <%
            course_start_date = course.advertised_start or course.start
            course_date_string = course_start_date.strftime('%Y-%b-%d')
        %>
        %endif
        <img src="${static.url('images/clock-icon1.png')}" alt="logo" style="width: 30px; " />

    
        <span class="w3-large w3-margin-left "><b>Start ${course_date_string}</b></span>
        
      </div>

      <!--End Course-->
      <div class="text w3-container w3-cell w3-cell-middle w3-mobile  w3-center ">
        <img src="${static.url('images/clock-icon1.png')}" alt="logo" style="width: 30px; " />
        <span class="w3-large w3-margin-left ">
          % if course.end and not course.start_date_is_still_default:
          <%
            course_end_date = course.end
            course_date_string = course_end_date.strftime('%Y-%b-%d')
          %>
          %endif
          <b >End ${course_date_string}</b>
        </span>
      </div>

      <!--Course Type-->
      <div class="w3-container w3-cell w3-cell-middle w3-padding w3-mobile  w3-center">
            <img class="" src="${static.url('images/head-icon.png')}" alt="logo" style="width: 40px; " />
           <div class=" w3-center ">
            % if  course.self_paced :
            <%
              course_type_string = "Self paced"
            %>
            %else:
            <%
              course_type_string = "Instructor paced"
            %>
            %endif
        
                <b class=" w3-large">${course_type_string} </b>
                <p class=" w3-medium">Progress at your own speed </p>
            </div>
      </div>
    </div>
   
  </div>


<!--Time Course-->
  <div class="w3-col m12 l2   h-100  w3-center w3-text-white" >
    
  
      <div class=" w3-cell-row h-100  " style="background-color: #ff0909; ">
       
        <div class=" w3-cell w3-cell-middle w3-padding">

          <img src="${static.url('images/clock-icon2.png')}" alt="logo" style="width: 40px;" />
          % if course.start and course.end and not course.start_date_is_still_default:
          <%
            course_start_date = course.advertised_start or course.start
            course_end_date = course.end
        
            # Calculate duration in days and then weeks
            duration_days = (course_end_date - course_start_date).days
            duration_weeks = duration_days // 7  # Use integer division to get whole weeks
        
            min_hours_per_week = 6
            max_hours_per_week = 18
          %>
        
          <div class="w3-center">
            <b class="w3-large">${duration_weeks} Weeks</b>
            <p class="w3-medium">${min_hours_per_week}-${max_hours_per_week} hours per week</p>
          </div>
        % endif
        

          

        </div>

        <div class=" w3-cell w3-hide-small w3-hide-medium h-100" style="width: 10%;background-color: #00522C;">
          <!-- <br/> -->
        </div>

      </div>

  </div>


  
</section>





<!--Contain Course-->
<section class=" h-100" style=" background-color:#eef6ec; justify-content:center; ">

    <div class=" w3-container" style="max-width:1600px;d-flex; justify-items:center; margin:auto;" >
        <!-- Infomation Course-->
        <div class="about-content w3-text-black"> 

          <%block name="course_about_details">
          <div class="details">
          % if staff_access and studio_url is not None:
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
          </div>
          % endif
      
          <div class="inner-wrapper">
          ${clean_dangerous_html(get_course_about_section(request, course, "overview"))}
          </div>
          </div>
          </%block>
          </div>

    </div>

</section>

<!--contact-->
<!-- <section style=" background-color:#ffffff; display: flex; justify-content:center; ">
##<%include file="contact.html" />
</section> -->

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>

