html, body, h1, h2, h3, h4, h5, span, * {
    font-family: $font-kantumruy-pro !important;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("#{$static-path}/images/banner2.jpg");

    min-height: 25%;
    height: 500px;
}

// // Include custom discover
.find-courses {
    padding-bottom: 0 !important;
    .courses-container {
        padding: 25px 0;
        @include media-breakpoint-up(md) {
            padding: 30px 0;
        }
    }
    .course-holder {
        width: 100% !important;
        float: none !important;
    }
 
    .filters {
        background-color: transparent !important;
        li {
            background: none !important;
            padding: 0% !important;
        }
        .facet-option{
            border: 1px solid #2e5f3f !important;
            color: #000000 !important;
            font-size: 15px !important;
            font-family: $font-kantumruy-pro !important;
            padding: 10 !important;
          
        }
        .flt-right {
            float: right;
            max-width: 150px !important;
        }
        .clear-filters{
            border: 1px solid green;
            border-radius: 0% !important;
            color: #060606 !important;
        }
    }
    .discovery-button {
        text-align: center !important;
     
    }
    .search-facets .facet-option {
        background-color: #ffffff !important;
        border: 1px solid green;
        margin-bottom: 1px !important;
        color: #000000 !important;

        font-size: 15px !important;
        font-family: $font-kantumruy-pro !important;

        .count {
            border-radius: 50% !important;
            background-color: #2e5f3f !important;
            color: #ffffff !important;
            width: 22px !important;
            height: 22px !important;
            text-align: center !important;
        }
        .count::before{
            color: white !important;
            position:relative !important;
            background: none !important;
            left: 0% !important;
        }
    }
}

.courses-container {
    .courses {
        .courses-listing {
            letter-spacing: -0.32em;
            margin: 0 -2.5%;
            align-items: center !important;
            @media only screen and (min-width: $big-screen) {
                margin: 0 -1.5%;
            }
            li {
                letter-spacing: normal;
                float: none !important;
                display: inline-block !important;
                vertical-align: top;
                width: 95% !important;
                margin: 0 2.5% 25px !important;
                max-height: unset !important;

                @include media-breakpoint-up(sm) {
                    width: 45% !important;
                }
                @include media-breakpoint-up(md) {
                    width: 45% !important;
                }
                @media only screen and (min-width: $big-screen) {
                    width: calc(33% - 3%) !important;
                    margin: 0 1% 1% 2% !important;
                }
                .course {
                    margin: 0;
                    border: none;
                    box-shadow:
                        0px 1px 2px rgba(0, 0, 0, 0.06),
                        0px 1px 3px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                    overflow: hidden;
                    background: #fff;
                    padding-bottom: 20px;

                    position: relative;
                    overflow: hidden;
                    transition: transform 0.3s ease-in-out;
                    // min-width: 350px !important;
                    &:hover {
                        transform: scale(1.05);
                    }
                    .course-image {
                        position: relative;
                        .cover-image {
                            height: 220px;
                            &:before {
                                display: none;
                            }
                            img {
                                object-fit: cover;
                                object-position: center;
                                height: 220px;

                                transition: filter 0.3s ease-in-out;
                            }
                        }
                        .learn-more {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            background-color: #2e5f3f !important;
                            color: white;

                            border-radius: 5px;
                            text-transform: uppercase;
                            text-align: center;
                            box-shadow:
                                4px 4px 4px rgba(0, 0, 0, 0.293),
                                0px 1px 3px rgba(0, 0, 0, 0.634);
                        }
                    }
                    .course-info {
                        height: auto;
                        font-family: $font-family-title;
                        padding: 10px 20px 0;
                        .course-code {
                            display: none;
                        }
                        h2 {
                            font-family: $font-family-title;
                            height: 72px;
                        }
                        .course-title {
                            color: black;
                            font-size: 22px;
                            font-weight: bold;
                            line-height: 25px;
                            height: auto;
                            padding: 0;
                            margin: 0 0 5px;
                            white-space: unset;
                            overflow: hidden !important;
                            text-overflow: ellipsis;
                            display: -webkit-box !important;
                            //-webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .course-organization {
                            color: #384335;
                            font-size: 18px;
                            line-height: 18px;
                            height: auto;
                            padding: 0;
                            margin: 0 0 5px;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .course-date {
                            // border: 1px solid #090909 !important;
                            border-radius: 15px;
                            padding: 5px 5px !important;

                            margin-bottom: 50px !important;
                            font-size: 20px !important;

                            line-height: 30px;
                            // .course-date-wrapper {
                            //     //border: 1px solid #090909 !important;
                            //     border-radius: 15px;
                            //     margin-bottom: 20px;
                            //     padding: 10px;

                            // }
                        }
                    }
                }

                .course:hover .cover-image img {
                    opacity: 50% !important;
                    filter: blur(5px); /* Blurs the image on hover */
                }
            }
        }
    }
    .courses-card {
        .courses-list-title {
            color: #21472e;

            border-bottom: 4px solid #21472e;
            clear: both;
            font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background-repeat: no-repeat;
            background-size: 15px;
            background-position: 20px 5px;
            padding: 0 0 5px 40px;
            text-transform: uppercase;
            font-size: 1.4em;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 3%;
        }
    }
}

.saerch-bar-discover {
    margin: 0 0 25px;
    @include media-breakpoint-up(md) {
        margin: 0 0 30px;
    }
    &:after {
        display: block;
        clear: both;
        content: "";
    }
    .filters {
        .filters-inner {
            border: none;
            .clear-filters {
                display: none;
                max-width: 200px !important;
            }
            ul {
                li {
                    padding: 0;
                    margin: 0 7px 5px 0;
                    background: none;
                    button {
                        padding: 2px 10px;
                        border: 1px solid #21472e !important;
                        background: #21472e !important;
                        color: #fff;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .discover-search {
        overflow: hidden;
        .wrapper-search-context {
            overflow: hidden;
            .wrapper-search-input {
                float: none;
                display: block;
                margin: 0;
                width: auto;
                &:after {
                    display: block;
                    clear: both;
                    content: "";
                }
                .button-holder {
                    float: right;
                    button {
                        position: static;
                        margin: 0 0 0 16px;
                        min-width: 90px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        text-align: center;
                        padding: 6px;
                        height: 38px;
                        // border-radius: 6px;
                        // background: $primary;
                        font-family: $font-family-title;
                        border: none;
                        @include media-breakpoint-up(sm) {
                            min-width: 100px;
                        }
                        &:hover {
                            background: $primary;
                            opacity: 0.8;
                        }
                    }
                }
                .input-holder {
                    overflow: hidden;
                    // border-radius: 6px;
                    // background: $primary-light;
                    padding: 0 0 0 33px;
                    position: relative;
                    // svg {
                    //     position: absolute;
                    //     left: 12px;
                    //     font-size: 20px;
                    //     top: 10px;
                    // }
                    input {
                        border: none;
                        // box-shadow: none;
                        // height: 38px;
                        width: 100%;
                        background: none;
                        outline: none;
                        font-size: 18px;
                        line-height: 20px;
                        padding: 9px 10px;
                        font-family: $font-kantumruy-pro;
                    }
                }
            }
        }
        // .search-status-label {
        //     font-size: 14px;
        //     line-height: 20px;
        //     padding: 10px 0 0;
        //     height: auto;
        //     min-height: auto;
        //     width: 100%;
        //     float: none;
        //     color: #515661;
        // }
    }
}
//#F2F7F8
.filter-block {
    float: right;
    position: relative;
    z-index: 20;
    .dropdown-toggle {
        border: 1px solid green !important;
        border-radius: 6px !important;
        max-width: 130px !important;
        padding: auto;
    }
    &.show {
        .dropdown-menu {
            display: block;
        }
    }
    > a {
        display: block;
        background-color: $primary-light;
        text-decoration: none !important;
        font-size: 14px;
        line-height: 20px;
        margin: 0 16px 0 0;
        font-weight: 500;
        padding: 8px 10px;
        border-radius: 6px;
        color: #4b5563;
        &:hover {
            text-decoration: none;
            color: #4b5563;
        }
        svg {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            padding: 0 3px;
            //display: none;
            @include media-breakpoint-up(sm) {
                display: inline;
            }
        }
    }
    .dropdown-menu {
        display: none;
        width: 300px;
        // height: 100vh;
        left: 0;
        // top: 48px !important;
        // transform: none !important;
        border-radius: 6px;
        background: $primary-light;
        // color: #3d3e3f!important;
        //background-color: red;
        padding: 10px 10px 0;

        box-shadow:
            0px 0px 0px 1px rgba(0, 0, 0, 0.05),
            0px 4px 6px -2px rgba(0, 0, 0, 0.05),
            0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    // mobile devices
    .search-facets {
        float: none;
        width: 100%;
        margin: 0;
        box-shadow: none;
        background: none;
        h2 {
            display: none;
        }
        .search-facets-lists {
            h3 {
                border: none;
                padding: 0;
                margin: 0 0 10px;
                color: #191b23;
                font-size: 14px;
                font-weight: 700;
            }
            ul.facet-list {
                padding: 0 0 0 25px;
                max-height: 100%;
                overflow-y: auto;
                li {
                    height: auto;
                    margin: 0 0 10px;

                    button.facet-option {
                        position: relative;
                        float: none;
                        width: 100%;
                        // background: none !important;

                        font-size: 14px;

                        //line-height: 20px;
                        color: #191b23 !important;
                        background-color: #f2f7f8 !important;
                        &.selected {
                            .count {
                                // background: $primary;
                                // border-color: $primary;
                                &:before {
                                    content: "\f00c";
                                    width: auto;
                                  //  top: 0;
                                   // left: 2px;
                                   // display: block;
                                   // font-size: 10px;
                                   // line-height: 14px;
                                    color: #2e5f3f !important;
                                }
                            }
                        }
                        .count {
                            position: absolute;
                            text-align: center !important;
                            left: 0;
                            right: auto;
                            width: 20px !important;
                            height: 20px !important;
                            border-radius: 0% !important;
                            border: 1px solid #2e5f3f !important;
                            background: #fff !important;
                            margin-left: 10px;
                            .count-number {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.discovery-input,
.btn-search {
    border-radius: 0% !important;
    border-color: #21472e !important;
    height: 50px !important;
}
.previous-button,
.next-button,
.submit {
    border-radius: 0% !important;
    border-color: #21472e !important;
    height: 50px !important;
    background-color: #21472e !important;
}

.btn-search {
    background-image: none;

    // background-color: #21472E !important;
    &:hover:not(:disabled) {
        background-image: none;
        background-color: green !important;
        color: white !important;
    }

    box-shadow: none;
    text-shadow: none;
}
// .org-icon-filter:hover {
//     transform: scale(1.05);
// }

@media (max-width: 768px) {
    .media,
    .bgimg,
    img {
        max-height: 300px;
    }

    .title1 {
        font-size: 20px !important;
    }
    .top-courses {
        font-size: 20px !important;
    }

    .detail_time {
        height: 180px !important;

        img {
            width: 20px !important;
            height: 20px !important;
        }

        span,
        .text {
            padding: 10px;
            font-size: 12px !important;
            font-style: normal !important;
            text-align: left !important;
        }
    }
}
